@use '../../styles/variables' as *;

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rightSidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: minmax(0, 1fr) 320px;
    align-items: start;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    gap: 32px;
    grid-template-columns: minmax(0, 1fr) 360px;
  }
}
