$primary: #0056b3;
$secondary: #566075;
$tertiary: #973c00;
$neutral: #f8f9fa;

$text-headline: 'Manrope', sans-serif;
$text-body: 'Inter', sans-serif;

$padding-md: 14px;
$padding-lg: 16px;

$maxWidth: 1200px;

@mixin container {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 16px;
}
